.flexbox-container{
    display:flex;
    flex-direction: column;     
}
.flexbox-container > div {
    
    text-align:left;
    padding: 50px;
}
.divhead{
    border-left: 8px solid ;
    background-color: steelblue;
}

.lista{
    font-size: 18px;
    padding: 5px;
}

.separar{
    padding: 20px;
}


.textformat{
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}